/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --color-light-xl: 0 0% 100%;
  --color-light-l: 0 0% 96%;
  --color-light-s: 0 0% 98%;
  --color-dark-s: 0 0% 80%;
  --color-dark-m: 0 0% 70%;
  --color-dark-l: 0 0% 33%;
  --color-dark-xl: 0 0% 30%;
  --color-dark-2xl: 0 0% 27%;
  --color-dark-3xl: 0 0% 16%;
  --color-primary: 25, 69%, 82%;
  --color-primary-light: 25 93% 88%;
  /* font-sizes */
  --fs-900: 2.75rem;
  --fs-800: 2.18rem;
  --fs-700: 1.5rem;
  --fs-600: 1.43rem;
  --fs-500: 0.93rem;
  --fs-400: 0.75rem;
  /* font-families */
  --ff-serif: "Georgia", serif;
  --ff-sans-serif: "Arial", sans-serif;
}

@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid-container {
  display: grid;
  row-gap: 1rem;
  text-align: center;
  place-items: center;
  grid-template-columns: minmax(1rem, 1fr);
}

.container {
  /* padding-inline: 2.4em;
    margin-inline: auto;
    max-width: 80rem; */
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

.btn {
  width: 207px;
  height: 52px;
  background: hsl(var(--color-primary));
  border-radius: 100px;
  font-family: var(--ff-serif);
  font-size: 17px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-3xl));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.section__title {
  font-family: var(--ff-serif);
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-l));
}

/* typography */
@font-face {
  font-family: Arial;
  font-display: swap;
  src: url(assets/fonts/arial/arial-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url(assets/fonts/georgia/georgia-regular.ttf);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
}

.ff-main {
  font-family: var(--ff-normal);
}

.ff-tarif-header {
  font-family: var(--ff-tarif-header);
}

.ff-tarif-option {
  font-family: var(--ff-tarif-option);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.clr-primary {
  color: hsl(var(--color-primary));
}

.clr-dark--l {
  color: hsl(var(--color-dark-l));
}
.clr-dark--3xl {
  color: hsl(var(--color-dark-3xl));
}
.clr-light--xl {
  color: hsl(var(--color-light-xl));
}

.clr-dark--s {
  color: hsl(var(--color-dark-s));
}

.clr-light--s {
  color: hsl(var(--color-light-s));
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

/* header */
.header {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 30px;
}
.header__background {
  display: flex;
}
.header__logo {
  display: flex;
  flex-direction: column;
}
.header__logotitle {
  font-family: var(--ff-serif);
  line-height: 2.2rem;
  font-size: 2rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
}

.header__logosubtitle {
  line-height: 1.06rem;
  font-family: var(--ff-sans-serif);
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  margin: 10px 0 0 4px;
}

.header__content {
  justify-content: space-between;
  display: flex;
}

.header__navcontainer {
  align-items: center;
}

.header__navlist {
  list-style-type: none;
  display: flex;
  gap: 2.3rem;
}

.header__navitem {
  font-family: "Arial";
  line-height: 160%;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
}

.header__navitem:hover {
  cursor: pointer;
  color: hsl(var(--color-light-s));
}

.header__navitem.active,
.header__navitem:focus {
  border-bottom: 4px solid hsl(var(--color-primary));
  outline: none;
  color: hsl(var(--color-light-s));
  padding-bottom: 4px;
}

.header__navitem:hover {
  cursor: pointer;
}

.header__navitem--disabled {
  pointer-events: none;
  cursor: default;
}

/* header-pets */

.header-pets {
  padding-top: 30px;
  padding-bottom: 26px;
}
.header__burger {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 44px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 5;
}
.header__burger-line {
  position: relative;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #f1cdb3;
  transition: all 2s;
}
.header__burger::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #f1cdb3;
  width: 30px;
  height: 2px;
  top: 4px;
  transition: all 2s;
}
.header__burger::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #f1cdb3;
  width: 30px;
  height: 2px;
  bottom: 4px;
  transition: all 2s;
}
.header__burger.is-active {
  transform: rotate(90deg) translateY(1px);
  transition: all 2s;
}

@media (width: 767px) {
  .header__content {
    width: 99%;
  }
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .header__navlist {
    display: flex;
    width: 90%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    padding-top: 114px;
    gap: 2.5rem;
  }

  .header__navcontainer {
    align-items: center;
    background: #292929;
    position: fixed;
    width: 320px;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 3;
    transform: translateX(0);
    transition: all 2s;
  }

  .header__navcontainer-open {
    transform: translateX(-100%);
  }
  /* .header__content {
    width: 94%;
  } */
  .header__navitem {
    font-size: 32px;
  }
}

/* hero */
.hero {
  /* height: 816px; */
  align-items: end;
  justify-content: space-between;
  background:
    url(assets/img/noise_transparent.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.hero__content {
  color: hsl(var(--clr-light));
  /* align-items: center; */
  display: flex;
  gap: 1.5rem;
}

.hero__img {
  margin-top: 180px;
  background-image: url(assets/img/start-screen-puppy.png);
  object-fit: cover;
  height: 728px;
  width: 698px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: bottom right; */
  object-position: bottom;
  background-size: 100% 100%;
  z-index: 2;
}
.hero__text {
  width: 40%;
  margin-top: 300px;
}

.hero__text_flow * {
  margin-top: 2.65rem;
}
.hero__text__title {
  font-family: var(--ff-serif);
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  width: 70%;
  display: flex;
  align-items: center;
  color: hsl(var(--color-light-xl));
}

.btn__hero {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn__hero:hover {
  background: hsl(var(--color-primary-light));
  color: hsl(var(--color-dark-3xl));
}

.hero__text__description {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  color: var(--color-dark-s);
  margin-top: 42px;
  padding-right: 10px;
}

@media (max-width: 70rem) {
  .hero__content {
    flex-direction: column;
    align-items: center;
  }
  .hero__img {
    height: 593px;
    width: 569px;
    margin-top: 77px;
    align-self: flex-end;
  }
  .hero__text_flow * {
    margin-top: 2.5rem;
  }
  .hero__text {
    width: 65%;
    margin-top: 111px;
    display: flex;
    flex-direction: column;
  }
  .btn__hero {
    align-self: center;
  }
  .hero__text__description {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 40rem) {
  .container {
    padding: 0 10px;
  }
  .hero__content {
    gap: 6.71rem;
  }
  .hero__text {
    align-items: center;
    width: 100%;
    margin-top: 111px;
  }
  .hero__text__title {
    font-size: 1.8rem;
    text-align: center;
    line-height: 32.5px;
  }
  .hero__text_flow * {
    margin-top: 2.5rem;
  }
  .hero__text__description {
    padding-right: 0;
    text-align: center;
  }
  .hero__img {
    height: 271px;
    width: 260px;
    margin-top: 0;
    align-self: flex-end;
    margin-left: 37px;
    align-self: auto;
  }

  @media (max-width: 325px) {
    .header__content {
      padding: 0 20px;
    }
    .header__burger {
      right: 20px;
    }
  }
}
/* about */

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 7.5rem;
  /* padding-left: 9.5%; */
  max-width: 1200px;
  margin: 0 auto;
}

.about__img__box {
  width: 300px;
  height: 408px;
  /* margin-right: 7.9%; */
}

.about__img {
  background-image: url(assets/img/about-pets.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  opacity: 1;
  vertical-align: middle;
}

.about__content {
  width: 38%;
}
.about__title {
  font-family: var(--ff-serif);
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  width: 78%;
}
.about__text {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  color: hsl(var(--color-dark-xl));
  margin-top: 26px;
  /* width: 77%; */
}

@media (max-width: 70rem) {
  .about__container {
    flex-direction: column;
    gap: 4.8rem;
    /* padding-left: 0; */
  }
  .about__img__box {
    order: 2;
    margin-right: 0;
  }

  .about__content {
    order: 1;
    width: 61%;
  }

  .about__title {
    width: 90%;
  }
  .about__text {
    width: 100%;
  }
}

@media (max-width: 40rem) {
  .about__title {
    font-size: 1.56rem;
    text-align: center;
    width: 100%;
  }
  .about__container {
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 2.3rem;
  }
  .about__content {
    order: 1;
    width: 90%;
  }
  .about__text {
    text-align: justify;
    margin-top: 23px;
  }
  .about__img__box {
    width: 260px;
    height: 353.6px;
  }
}
/* pets */
.pets {
  background: hsl(var(--color-light-l));
}

.pets-h2 {
  width: 35%;
  margin-bottom: 40px;
}

.pets__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.slider__wrapper {
  width: 92.8%;
  width: 990px;
  /* margin: 0 20px; */
  overflow: hidden;
}

.pets__slider {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  /* padding: 40px 0 60px; */
  gap: 71px;
  position: relative;
  /* left: -1060px; */
}

.pets__btns_container {
  max-width: 1200px;
  position: relative;
}

.pets__slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  /* top: 422px;
    left: calc(50% - 591px); */
  z-index: 0;
  left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
  width: 94%;
}

.slider__btn {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid hsl(var(--color-primary));
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.slider__btn-right img {
  transform: rotate(180deg);
}

.pets__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(var(--color-light-s));
  border-radius: 9px;
  margin: 20px 0;
  padding-bottom: 30px;
  transition: all 0.5s ease;
}

.pets__item:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  transform: scale(1.06);
  cursor: pointer;
}

.pets__all {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 90px;
}
.pets__label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pets__img {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
}

.pets__img img {
  width: 100%;
  position: relative;
  border-radius: 9px 9px 0px 0px;
  transition: all 0.5s ease;
}

/* .pets__pic {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
} */
.pets__pic {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
}
.pets__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__title {
  font-family: var(--ff-serif);
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-l));
  margin: 29px 0 30px;
}

.slider__wrapper {
  overflow: hidden;
}

.pets__slider {
  display: flex;
}

.pets__all {
  min-width: 100%;
  display: flex;
  gap: 30px;
}

.transition-right {
  animation: moveRight 0.5s;
}

.transition-left {
  animation: moveLeft 0.5s;
}

.pets__btn {
  display: flex;
  align-items: center;
  padding: 15px 42px;
  width: 187px;
  height: 52px;
  border: 2px solid hsl(var(--color-primary));
  border-radius: 100px;
  font-family: var(--ff-serif);
  font-size: 17px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-3xl));
  background: transparent;
}

.pets__btn:hover {
  background: hsl(var(--color-primary-light));
  color: hsl(var(--color-dark-3xl));
  border-color: hsl(var(--color-primary-light));
}
@keyframes moveRight {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

/* .pets-pic-1 {
  background-image: url(assets/img/pets/katrine.png);
}

.pets-pic-2 {
  background-image: url(assets/img/pets/jennifer.png);
}

.pets-pic-3 {
  background-image: url(assets/img/pets/woody.png);
}

.pets-pic-4 {
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(assets/img/pets/sophia.png);
}

.pets-pic-5 {
  background-image: url(assets/img/pets/timmy.png);
}

.pets-pic-6 {
  background-image: url(assets/img/pets/charly.png);
}

.pets-pic-7 {
  background-image: url(assets/img/pets/scarlett.png);
}

.pets-pic-8 {
  background-image: url(assets/img/pets/freddie.png);
}


.slider__btn:hover {
  background: hsl(var(--color-primary-light));
  color: hsl(var(--color-dark-3xl));
  border-color: hsl(var(--color-primary-light));
}

.btn__pets:hover {
  background: hsl(var(--color-primary-light));
  color: hsl(var(--color-dark-3xl));
}

.btn__pets {
  width: 261px;
  height: 52px;
  border: none;
  margin-top: 40px;
  transition: all 0.5s ease;
}
@media (max-width: 1120px) {
  .slider__wrapper {
    width: 580px;
  }
}
@media (max-width: 639px) {
  .slider__wrapper {
    width: 300px;
  }
}
@media (max-width: 1120px) {
  .pets__slider {
    column-gap: 40px;
  }
  .pets__all {
    column-gap: 40px;
  }
}
@media (max-width: 639px) {
  .pets__slider {
    left: -310px;
    padding: 0 15px;
  }
}
@media (max-width: 70rem) {
  .pets__item:nth-last-child(1) {
    display: none;
  }

  .pets__slider__btns {
    width: 93%;
    top: 52%;
  }
  .pets-h2 {
    width: 65%;
  }
}

@media (max-width: 40rem) {
  .pets-h2 {
    margin-bottom: 20px;
  }
  .pets__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section__title {
    font-size: 25px;
  }
  .pets__item:nth-last-child(2) {
    display: none;
  }

  .pets__slider__btns {
    width: 57%;
    top: 80%;
  }
  .pets-h2 {
    width: 100%;
  }

  .btn__pets {
    margin-top: 98px;
  }
} */
/* help */
.no-click {
  pointer-events: none;
  cursor: default;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 81px;
  padding-bottom: 44px;
}

.help__title {
  width: 36%;
}
.help__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* gap: 55px 120px; */
  padding-top: 59px;
  max-width: 1200px;
}

.help__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  margin-left: 60px;
  margin-bottom: 55px;
}

.help__text {
  font-family: var(--ff-serif);
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-l));
  margin-top: 30px;
}

@media (max-width: 70rem) {
  .help__item {
    width: 170px;
    margin-right: 30px;
    margin-left: 30px;
  }
  .help__title {
    width: 50%;
  }
}

@media (max-width: 40rem) {
  .help__title {
    width: 75%;
    line-height: 32.5px;
  }
  .help__container {
    padding-top: 44px;
    padding-bottom: 12px;
  }
  .help__item {
    width: 139px;
    margin: 0;
    margin-bottom: 30px;
  }
  .help__item img {
    width: 50px;
    height: 50px;
    margin-bottom: 16px;
  }
  .help__text {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-top: 5px;
  }

  .help__icons {
    padding-top: 40px;
    justify-content: space-between;
  }
}

/* donations */
.donation {
  background: hsl(var(--color-light-l));
}
.donation__container {
  gap: 2rem;
  padding-top: 80px;
  padding-bottom: 102px;
  width: 80%;
  display: flex;
  align-items: center;
}
.donation__img__box {
  width: 502px;
  height: 261px;
  margin-left: 1rem;
}

.donation__img {
  background-image: url(assets/img/donation-dog.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* display: inline-block; */
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  opacity: 1;
  vertical-align: middle;
}

.donation__content {
  max-width: 40%;
}

.donation__title {
  text-align: left;
}

.donation__subtitle {
  font-family: var(--ff-serif);
  font-size: 15px;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-top: 1.1rem;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-l));
}

.donation__description {
  font-family: var(--ff-sans-serif);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: hsl(var(--color-dark-m));
}

.donation__bank {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 10px 15px;
  background: hsl(var(--color-primary));
  border-radius: 9px;
  width: 349px;
  font-family: var(--ff-serif);
  font-size: 20px;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-l));
}

.donation__bank a {
  color: hsl(var(--color-dark-l));
  padding-left: 14px;
}

@media (max-width: 60rem) {
  .donation__container {
    flex-direction: column;
    gap: 3.78rem;
    padding-bottom: 99px;
  }
  .donation__content {
    order: 1;
    max-width: 68%;
  }
  .donation__img__box {
    order: 2;
    margin-left: 0;
  }
  .donation__subtitle {
    margin-top: 1.4rem;
  }
}

@media (max-width: 40rem) {
  .donation__container {
    gap: 3rem;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 92%;
  }
  .donation__img__box {
    width: 252px;
    height: 132px;
    margin: 0 auto;
  }
  .donation__content {
    max-width: 100%;
  }

  .donation__bank {
    margin: 22px 0;
    padding: 9px 15px;
    width: 281px;
    font-size: 15px;
    margin-left: -4px;
  }

  .donation__subtitle {
    width: 100%;
    letter-spacing: 0;
  }

  .donation__title {
    text-align: center;
  }
}
/* footer */

.footer {
  width: 100%;
  background-image:
    linear-gradient(to right, hsla(25, 26%, 25%, 1), hsla(240, 4%, 11%, 1)),
    url(assets/img/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 0;
  flex-wrap: wrap;
}

.footer__title {
  color: hsl(var(--color-light-xl));
  text-align: left;
  margin-top: 17px;
}

.footer__contactbox {
  margin: 41px 0 44px;
  display: flex;
  align-items: center;
}

.footer__contacts {
  /* margin-top: 41px; */
  margin-bottom: 27px;
}

.footer__contactbox {
  margin: 39px 0 34px;
  display: flex;
  align-items: center;
}
.footer__locations {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer__contactbox-locations {
  display: flex;
  align-items: center;
}

/* .footer__contactbox-locations {
    margin-top: 15px;
    margin-bottom: 15px;
} */
.footer__contactbox {
  margin: 39px 0 34px;
  display: flex;
  align-items: center;
}
.footer__locations {
  width: 302px;
}

.footer__icon {
  width: 40px;
}

.footer__contact {
  font-family: var(--ff-serif);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-style: normal;
  color: hsl(var(--color-primary));
  margin-left: 20px;
}

.footer__geoicon {
  width: 22px;
}

.footer__contacts {
  width: 280px;
}

.footer__locations-title {
  margin-bottom: 32px;
}

.footer__contactbox-locations {
  margin-bottom: 32px;
}

@media (max-width: 60rem) {
  .footer__container {
    width: 91%;
    padding-top: 13px;
  }
  .footer__dog {
    padding-top: 21px;
    margin: 0 auto;
  }
  .footer__contactbox {
    margin: 39px 0 34px;
    display: flex;
    align-items: center;
  }
  .footer__title {
    color: hsl(var(--color-light-xl));
    text-align: left;
    margin-top: 17px;
    margin-bottom: 32px;
  }
  .footer__locations {
    margin: -1px 0 12px;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .footer__contactbox-locations {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
  }
  .footer__contacts {
    margin-top: 0px;
    margin-bottom: 12px;
  }
}

@media (max-width: 40rem) {
  .footer__container {
    width: 100%;
    padding-top: 12px;
    flex-direction: column;
    align-items: center;
  }
  .footer__title {
    text-align: center;
    margin-top: 9px;
    margin-bottom: 26px;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contactbox {
    margin-top: 15px;
    margin-bottom: 23px;
  }
  .footer__contacts {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .footer__contactbox-locations {
    margin-top: 10px;
    margin-bottom: 28px;
  }
  .footer__contactbox-locations {
    /* margin-top: 10px;
    margin-bottom: 10px; */
    width: 100%;
  }
  .footer__locations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__locations {
    margin-top: -1px;
    margin: -2px 0 13px;
  }

  .footer__locations-title {
    width: 85%;
    align-self: center;
  }

  .footer__dog {
    padding-top: 0px;
    width: 260px;
    height: 269px;
  }
  .footer__contactbox-locations {
    margin-top: 11px;
    margin-bottom: 29px;
    width: 100%;
  }
}
/* -------- */
/* our-pets */
/* -------- */
.our-pets .pets {
  margin-top: 120px;
}

.our-pets .pets__slider {
  padding: 0;
  flex-wrap: wrap;
  gap: 11px 40px;
  max-width: 1200px;
}
.our-pets .pets__item {
  margin: 20px 0 0 0;
  padding-bottom: 30px;
}

.our-pets__slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 340px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 57px;
}

.our-pets .slider__btn {
  font-family: var(--ff-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-s));
}

.our-pets .slider__btn-first--left {
  border: 2px solid var(--color-dark-s);
}

.our-pets .slider__btn {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: hsl(var(--color-dark-s));
}

.our-pets .slider__btn--left {
  border: 2px solid hsl(var(--color-dark-s));
}

.our-pets .slider__btn-center {
  background: hsl(var(--color-primary));
  color: hsl(var(--color-dark-3xl));
}

.our-pets .slider__btn-right {
  color: hsl(var(--color-dark-3xl));
}

.our-pets .header__navitem {
  color: hsl(var(--color-dark-l));
}
.our-pets .header__navitem:hover {
  color: hsl(var(--color-dark-3xl));
}
.our-pets .header__content {
  padding-bottom: 30px;
}
.our-pets .header__burger-line,
.our-pets .header__burger::before,
.our-pets .header__burger::after {
  background-color: #000;
}

.our-pets .pets__item {
  margin-bottom: 0;
  padding-bottom: 30px;
}

.slider__btn--left:disabled {
  color: #cdcdcd;
  cursor: unset;
  background: #f6f6f6;
  border: 2px solid #cdcdcd;
}

@media (max-width: 70rem) {
  .our-pets .pets-h2 {
    width: 62%;
    margin-bottom: 14px;
  }

  .our-pets .pets__item:nth-last-child(2) {
    display: none;
  }
  .our-pets .pets__item:nth-last-child(1) {
    display: none;
    background: red;
  }

  .our-pets__slider__btns {
    margin-top: 39px;
  }

  .our-pets .pets__container {
    padding-bottom: 74px;
  }
}

@media (max-width: 768rem) {
  .our-pets .pets-h2 {
    width: 65%;
    margin-bottom: 10px;
  }

  .our-pets__slider__btns {
    max-width: 335px;
  }
  .our-pets .pets__container {
    padding-bottom: 77px;
  }
  .our-pets .pets__slider {
    justify-content: center;
  }
}

@media (max-width: 40rem) {
  .our-pets .pets-h2 {
    width: 96%;
    margin-bottom: 10px;
  }
  .our-pets .pets__slider {
    left: 0;
  }

  .our-pets .pets__item {
    margin: 34px 0 0 0;
    padding-bottom: 16px;
  }

  .our-pets .pets__item:nth-last-child(3) {
    display: none;
  }
  .our-pets .pets__item:nth-last-child(4) {
    display: none;
  }
  .our-pets .pets__item:nth-last-child(5) {
    display: none;
  }
  .our-pets__slider__btns {
    max-width: 300px;
  }
  .our-pets .pets__container {
    padding-bottom: 42px;
  }
  .our-pets__slider__btns {
    margin-top: 55px;
  }
}

.modal {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(41, 41, 41, 0.6);

  opacity: 0;
  visibility: hidden;

  transition: 0.3s;

  z-index: 100;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  position: relative;

  width: 900px;
  height: 500px;

  background: #fafafa;

  border-radius: 9px;

  overflow: visible;
}

.modal__content {
  display: flex;

  width: 100%;
  height: 100%;
}

.modal__img {
  width: 500px;
  flex-shrink: 0;
}

.modal__img img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  display: block;

  border-radius: 9px 0 0 9px;
}

.modal__info {
  padding: 50px 20px 20px 29px;

  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0;

  font-family: Georgia;

  font-size: 35px;

  font-weight: 400;

  letter-spacing: 0.06em;
}

.modal__subtitle {
  margin: 10px 0 40px;

  font-family: Georgia;

  font-size: 20px;

  font-weight: 400;

  letter-spacing: 0.06em;
}

.modal__description {
  margin: 0 0 40px;

  font-family: Georgia;

  font-size: 15px;

  line-height: 17px;

  letter-spacing: 0.06em;
}

.modal__list {
  margin: 0;

  padding-left: 15px;
}

.modal__list li {
  margin-bottom: 11px;

  font-family: Georgia;

  font-size: 15px;

  line-height: 17px;

  letter-spacing: 0.06em;
}

.modal__list li::marker {
  color: #f1cdb3;
}

.modal__close {
  position: absolute;

  right: -42px;

  top: -52px;

  width: 52px;
  height: 52px;

  border: 2px solid #f1cdb3;

  border-radius: 50%;

  background: transparent;

  cursor: pointer;

  font-size: 18px;

  transition: 0.3s;
}

.modal__close:hover {
  background: #fddcc4;
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 1279px) {
  .modal__wrapper {
    width: 630px;
    height: 350px;
  }

  .modal__img {
    width: 350px;
  }

  .modal__info {
    padding: 10px 9px 10px 11px;
  }

  .modal__title {
    font-size: 35px;
  }

  .modal__subtitle {
    margin: 10px 0 20px;
  }

  .modal__description {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 14px;
  }

  .modal__list li {
    margin-bottom: 6px;
  }
}

@media (max-width: 767px) {
  .modal__wrapper {
    width: 240px;
    height: auto;
  }

  .modal__img {
    display: none;
  }

  .modal__info {
    padding: 10px;
  }

  .modal__title {
    text-align: center;
  }

  .modal__subtitle {
    text-align: center;
  }

  .modal__description {
    text-align: justify;
    margin-bottom: 20px;
  }

  .modal__close {
    right: -30px;
  }
}
